# InfluxDB initial setup
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=change_me_strong_password
DOCKER_INFLUXDB_INIT_ORG=home
DOCKER_INFLUXDB_INIT_BUCKET=fronius_raw
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=change_me_long_token_value

# Telegraf -> Influx
INFLUX_URL=http://influxdb:8086
INFLUX_ORG=home
INFLUX_BUCKET=fronius_raw
INFLUX_TOKEN=change_me_long_token_value

# Fronius endpoints
FRONIUS_POWERFLOW_URL=http://YOUR_FRONIUS_IP/solar_api/v1/GetPowerFlowRealtimeData.fcgi
FRONIUS_METER_URL=http://YOUR_FRONIUS_IP/solar_api/v1/GetMeterRealtimeData.cgi?Scope=System